In [1]:
#for supplementary table
import pandas as pd
import numpy as np

In [2]:
in_dict = {'ER_positive_non_hematopoietic':'../../sites/TCGA_ATAC/ER_differential/sites_by_qval/ER_pos_specific.5e-4_qval.DESeq2.txt',
          'ER_positive_hematopoietic':'../../sites/TCGA_ATAC/ER_differential/sites_by_qval/ER_pos_heme.5e-4_qval.DESeq2.txt',
          'ER_negative_non_hematopoietic':'../../sites/TCGA_ATAC/ER_differential/sites_by_qval/ER_neg_specific.5e-4_qval.DESeq2.txt',
          'ER_negative_hematopoietic':'../../sites/TCGA_ATAC/ER_differential/sites_by_qval/ER_neg_heme.5e-4_qval.DESeq2.txt'}

In [9]:
data = pd.DataFrame()
for key in in_dict.keys():
    file = in_dict[key]
    current = pd.read_csv(file,sep='\t')
    current['site_type'] = key
    print(key,len(current))
    data = data.append(current, ignore_index=True)
    
#subset to important columns
data = data[['Chrom', 'Start', 'End','Peak_Name', 'position',
       'pvalue','padj','log2FoldChange', 'site_type']]

ER_positive_non_hematopoietic 18240
ER_positive_hematopoietic 9930
ER_negative_non_hematopoietic 19347
ER_negative_hematopoietic 22365

In [11]:
data.head()

,Chrom,Start,End,Peak_Name,position,pvalue,padj,log2FoldChange,site_type
0,chr8,86239102,86239603,BRCA_100000,86239352,8.324964e-13,1.399854e-11,2.518774,ER_positive_non_hematopoietic
1,chr8,86242935,86243436,BRCA_100001,86243185,3.447204e-15,9.707595e-14,3.128782,ER_positive_non_hematopoietic
2,chr8,86243600,86244101,BRCA_100002,86243850,1.950262e-12,3.043029e-11,2.817476,ER_positive_non_hematopoietic
3,chr8,86257422,86257923,BRCA_100003,86257672,1.532474e-13,3.022724e-12,2.333485,ER_positive_non_hematopoietic
4,chr8,86258510,86259011,BRCA_100004,86258760,2.722188e-17,1.201197e-15,2.992381,ER_positive_non_hematopoietic

In [17]:
data.to_csv('files/S11_ER_differential_sites.tsv', sep='\t',index=False)

In [15]:
18240+9930+19347+22365

69882

In [16]:
len(data)

69882